[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
pyotp = "*"
cryptography = "*"
opencv-python = "*"
pyzbar = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.11"
